<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<typeAliases>
		<typeAlias alias="user" type="kr.co.fkn.service.domain.User" />
		<typeAlias alias="log" type="kr.co.fkn.common.Log" />
		<typeAlias alias="main" type="kr.co.fkn.service.domain.Main" />
		<typeAlias alias="search" type="kr.co.fkn.common.Search" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/LogMapper.xml"/>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/MainMapper.xml"/>
	</mappers>

</configuration>